@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: #ffffff;
  --color-primary: #000;
  --color-secondary: oklch(68.5% 0.169 237.323);
  --color-tertiary: oklch(70.4% 0.04 256.788);

  --color-dark-primary: #202024;
  --color-dark-secondary: #323238;

  --font-pixel: "Press Start 2P", monospace;
}

@layer base {
  body {
    background: var(--color-white);
    -webkit-font-smoothing: antialiased;
  }

  body,
  input,
  textarea,
  button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
  }
}
